.demo-headline
  %h1.demo-logo
    .logo
    Cab Fare Estimator
    %small
      Never overpay for your cab again!
.row.demo-row
  .span3.offsetby3
    %a.btn.btn-large.cta{:href => ""}
      Estimate!
