.demo-headline
  %h1.demo-logo
    .logo
    Cab Fare Estimator
    %small
      Never overpay for your cab again!
.row.demo-row
  .span4.offset4
    %a.btn.btn-large.cta{:href => new_query_path}
      Estimate
    %a.btn.btn-large.cta{:href => new_fare_path}
      Post a Fare
