-#%h1 New query
-#
-#= render 'form'
-#
-#= link_to 'Back', queries_path
.demo-headline
  %h1.demo-logo
    %a{:href => root_path}
      .logo
    %small
      Where are you going?
.row
  .span3
    .control-group.success
      %input{:placeholder => "My destination"}
  .span3
    .control-group.success
      %input.location{:placeholder => "Current Location"}
      %a.locate-me
  .span3
    %a.btn.btn-large.btn-block.btn-primary
      Calculate