// Place all the styles related to the Queries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$yellowColor: #F1C40F;

.queries, .fares {

  .demo-logo small {
    font-size: 24px;
  }

  .demo-logo .logo {
    background: url("logo_small.png") center 0 no-repeat;
    background-size: 100px 92px;
    height: 92px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -9999em;
    width: 100px;
  }

  .btn.btn-primary {
    background-color: $yellowColor;
  }

  .input-append, .input-prepend {
    display: block;
  }

  .control-group {
    margin-bottom: 0px;
  }

  input[type = "text"] {
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 24px;
  }


  @media (max-width: 480px) {
    input.location {
      width: 80%;
    }
  }

  .locate-me {
    display: inline-block;
    width: 32px;
    height: 32px;
    float: right;
    background: url('/assets/locate_me.png') no-repeat;
  }

  .add-on {
    margin-top: 10px;
    background: transparent;
    border: none;
  }

  .control-group.success input[type = "text"] {
    border: 2px solid $yellowColor;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: rgba(52, 73, 94, 0.3);
  }

  .fields .span4 {
    float: none;
    margin: auto;
  }
}